<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kkkkkn.module_finger">

    <application>
        <activity
            android:name=".FingerActivity"
            android:exported="true"/>
        <activity
            android:name=".zk_fs200r.ZKActivity"
            android:exported="false"/>
        <activity
            android:name=".cf100.CF100Activity"
            android:exported="false"/>
        <activity
            android:name=".cf200.CF200Activity"
            android:exported="false"/>
    </application>

</manifest>