<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kkkkkn.module_wifi">

    <application>
        <activity
            android:name=".WifiActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>