<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kkkkkn.module_pen">
    <application>
        <activity
            android:name=".PenActivity"
            android:exported="false"/>

        <activity
            android:name=".a83.A83Activity"
            android:exported="false"
            android:theme="@style/ThemeOverlay.FactoryTest.FullscreenContainer">
        </activity>
        <activity
            android:name=".a33.A33Activity"
            android:exported="false"
            android:theme="@style/ThemeOverlay.FactoryTest.FullscreenContainer">
        </activity>
    </application>
</manifest>