<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kkkkkn.module_screen">
    <application>
        <activity
            android:name=".ScreenActivity" />
        <activity android:name=".black_light.BlackLightActivity"
            android:theme="@style/ThemeOverlay.FactoryTest.FullscreenContainer"
            />
        <activity android:name=".bad_points.BadPointsActivity"
            android:theme="@style/ThemeOverlay.FactoryTest.FullscreenContainer"
            />
        <activity android:name=".touch.TouchActivity"
            android:theme="@style/ThemeOverlay.FactoryTest.FullscreenContainer"
            />
    </application>
</manifest>